*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #2b2d30;
}
.navbar{
    border-bottom: 3px solid rgb(97, 97, 97);
}

.navbar-brand{
    color: #E0A800!important;
}
.text-yellow{
    color: #E0A800;
}

.banner-image{
    background-image: url(../images/rail.jpg);
    height: 200px;
    background-size: cover;
    background-position:center;
}

.banner-content h1, p{
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.card-div{
    background-color: #2b2d30;
    border-top: 2px solid #C79867;
}
.banner2{
    background-color: #2b2d30;
    color: antiquewhite;
}
.card-container{
    
    
}

.card{
    width: 17rem;
    border: none!important;
    background-color: #2b2d30!important;
    transition: width .5s;
    
}

.card:hover{
    width: 17.8rem;
}

.card-body{
    background-color: #C79867;
    border-radius: 1rem;
}

.card-body:hover{
    background-color: #cf975b;

}

.card-title{
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
.card-button{

    color: antiquewhite!important;
    border-radius: 11px;
background: linear-gradient(145deg, #d5a36e, #b3895d);
box-shadow:  5px 5px 14px #ab8359,
             -5px -5px 14px #e3ad75;
}
.card-button:hover{
    background: linear-gradient(145deg, #d5a36e, #b3895d);
    box-shadow:  5px 5px 14px #cf975b,
            inset -9px -9px 14px #e2b585;
    
}

.form-container{
    max-width: 1000px!important;
}
.footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#2b2d30;
    color: white;
    text-align: center;
    border-top: 2px solid #C79867;
  }

  .table {
    width: 90%;
  }
  .table-bordered th{
      border-bottom-color: #E0A800!important;
  }

  .del-button{
      padding: 2px 3px!important;
  }

.fa-check-circle{
    font-size: 40px;
    color: #E0A800;
    margin-left:13rem;
    margin-top: 1rem;
}

.signup-link{
    color: #E0A800;
}
.signup-link:hover{
    color: #cf975b;
}

.page-item.active .page-link {
    background-color: #c48c23;
    border-color: #e9ecef;
}

.find-button {
    color: #f8f9fa!important;
    border: 2px solid #ffc107!important;
}
.find-button:hover {
    color: black!important;
    background-color: #E0A800;
    border: 2px solid #d4a61c!important;
}

.search-box{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 307px;
	padding: 86px 40px;
	background: rgba(209, 209, 209, 0.541);
    border-radius: 5px;
}
.search-banner{
    background-image: url(../images/rail3.jpg);
    height: 100vh;
    background-size: cover;
    background-position:center;
}

.search-form .form-contol{
    border: 1
px solid #ffc1077d;
}